/* ------------------- GLOBAL SETTINGS -------------------  */

//Own generated variables
$infrabelColor: #00BCF0;
$black:#000000;

//Bootstrap variables
$body-color: $black;

/* ----------------- END GLOBAL SETTINGS -----------------  */






/* ----------------------- BUTTONS -----------------------  */

//Own generated variables
$buttonPrimary: rgba(0, 188, 240, 0.055);

/* --------------------- END BUTTONS ---------------------  */

